.EmployeeForm1 {
    width: 100%;
    height: 90vh;

    background-color: rgb(26, 25, 25);

    overflow: hidden;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.EmployeeForm1 h1 {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0;
}
/* --------------------Container------------------------------- */

.Container{
    width: 80%;
    height: 75vh;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
    background-color: rgb(66, 75, 75);

    overflow: hidden;
    border-radius: 30px;
}


/* -------------------Left Container-------------------- */
.Imag-left {
    width: 50%;
    height: 75vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to left, #9589a8 ,#b15b5b);
}

.logo {


    width: 250px;
    /* Using drop-shadow allows us to add a shadow to an 
    element that doesn’t correspond to its bounding box, doesn't use spread operator */
    filter: drop-shadow(-10px -5px 5px #222);
}

.subContainer-left{
    width: 50%;
    height: 75vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* --------------------Right Container------------------ */
.Imag-right{
    width: 50%;
    height: 75vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to left, #9589a8 ,#b15b5b);
}

.subContainer-right{
    width: 50%;
    height: 75vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.subContainer-right form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 80%;

}

.subContainer-right input {
    border-radius: 5px;
    box-shadow: none;

    height: 40px;
    width: 50%;
}

.subContainer-right button {
    width: 100px;
    height: 30px;
}

/* ------------------------NavBar----------------------- */
.NavBar {
    overflow: hidden;
    height: 10vh;
    background-color: rgb(0, 0, 0);
}

.NavBar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}


/* ----------------------Animation---------------- */
@media (prefers-reduced-motion: no-preference) {
    .dots1{
        animation: dot1-spin 1s infinite 2s linear alternate;
    }
    .dots2{
        animation: dot2-spin 1s infinite 1.5s linear alternate;
    }
    .dots3{
        animation: dot3-spin 1s infinite 1s linear alternate;
    }
    .Imag-right{
        animation: Imag 2s ease-in-out 1 normal forwards;
    }
    .subContainer-left{
        /* :animation-name,animation-duration,animation-timing-function, animation-iteration-count,animation-direction,animation-fill-mode*/
        animation: subContainer 2s ease-in-out 1 normal forwards;
    }

}

@keyframes Imag {
    from   {transform:translateY(0px);}
  to     {transform: translateX(510px);}

}
@keyframes subContainer {
    from   {transform:translateY(0px);}
  to     {transform: translateX(-510px);}

}

@keyframes dot1-spin {
    from {
        transform:translateX(0px) ;
    }
    to {
        transform: translateY(-10px);
    }
}
@keyframes dot2-spin {
    from {
        transform:translateX(0px) ;
    }
    to {
        transform: translateY(-10px);
    }
}
@keyframes dot3-spin {
    from {
        transform:translateX(0px) ;
    }
    to {
        transform: translateY(-10px);
    }
}